.tweetBox {
  padding-bottom: 10px;
  border-bottom: 5px solid var(--twitter-background);
  padding-right: 10px;
}
.tweetBox > form {
  display: flex;
  flex-direction: column;
}
.tweetBox_input {
  padding: 20px;
  display: flex;
}
.tweetBox_input > input {
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
  border: 1px solid var(--twitter-background);
  border-radius: 30px;
  padding: 10px;
  outline-width: 0;
}
.tweet_button {
  background-color: var(--twitter-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  width: 200px;
  height: 40px !important;
  margin-top: 5px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
